{{ define "content" }}

  <article class="post post-full">
    <header class="post-header inner-md">
      <div class="post-meta">
        <time class="published"
          datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">{{ .Date | dateFormat "Monday, January 2, 2006" }}</time>
      </div>
      <h1 class="post-title">{{ .Params.title }}</h1>
      {{ if .Params.subtitle }}
      <div class="post-subtitle">
        {{ $.Params.subtitle | safeHTML }}
      </div><!-- .post-subtitle -->
      {{ end }}
    </header><!-- .post-header -->
    {{ if .Params.content_img_path }}
    <div class="post-thumbnail">
      <img class="thumbnail" src="{{ $.Params.content_img_path | relURL }}" alt="{{ $.Params.content_img_alt }}" />
    </div>
    {{ end }}
    <div class="post-content inner-md">
      {{ .Content | safeHTML }}
    </div><!-- .post-content -->
  </article><!-- .post -->

  <!-- Next/previous post navigation TBD -->
  <!--
  <nav class="post-navigation">
    <h2 class="post-nav-title">Read Next</h2>
    <div class="post-feed">
      <article class="post post-card">
        <div class="post-card-inside">
          <a class="post-card-thumbnail" href="#">
            <img class="thumbnail" src="#" alt="" />
          </a>
          <div class="post-card-content">
            <header class="post-header">
              <div class="post-meta">
                <time class="published" datetime="">Previous post date</time>
              </div>
              <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
            </header>
            <div class="post-excerpt">
              <p>Previous post excerpt</p>
              <p class="read-more">
                <a class="button button-secondary" href="#">Read more</a>
              </p>
            </div>
          </div>
        </div>
      </article>
      <article class="post post-card">
        <div class="post-card-inside">
          <a class="post-card-thumbnail" href="#">
            <img class="thumbnail" src="#" alt="" />
          </a>
          <div class="post-card-content">
            <header class="post-header">
              <div class="post-meta">
                <time class="published" datetime="">Next post date</time>
              </div>
              <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
            </header>
            <div class="post-excerpt">
              <p>Next post excerpt</p>
              <p class="read-more">
                <a class="button button-secondary" href="#">Read more</a>
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </nav>
  -->

{{ end }}
